@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Solitreo", cursive;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}

:root {
  --nav: rgb(42, 41, 41);
  --white-text: white;
  --gray-hover: rgb(191, 191, 191);
  --buttons: rgb(168, 148, 148);
  --buttons-hover: rgb(185, 166, 166);
}

#container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: auto 100%;
  grid-template-areas: "nav body";
}

#background {
  width: 100%;
  height: 100%;
  grid-area: body;
  background-image: url("../pictures/todo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "header"
    "article";
}

nav {
  grid-area: nav;
  width: 0;
  height: 100%;
  background-color: var(--nav);
  color: var(--white-text);
}

article {
  grid-area: article;
}

header {
  grid-area: header;
  display: flex;
}
.open-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}
.open-menu:hover {
  background-color: var(--gray-hover);
}
.welcome {
  margin-left: 10px;
  font-size: calc(1.2rem + 1vw);
  margin-top: 5px;
}
.auth {
  height: 100%;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  width: 120px;
  gap: 3px;
}
.auth button {
  width: 47%;
  height: 90%;
  background-color: var(--buttons);
  color: var(--white-text);
  border: none;
}
.auth button:hover {
  cursor: pointer;
  border-bottom: 1px solid red;
  background-color: var(--buttons-hover);
}
.signout {
  display: none;
}

/* modals */
[class|="modal"] {
  display: none;
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  background-color: #5c3f3f;
  animation-name: animatetop;
  animation-duration: 0.5s;
}
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
[class|="modal"] p {
  font-size: 1.2rem;
  text-align: center;
  color: white;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* modals end */
